<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Головна</title>
</head>

<body>
  <h1>Назва вашого сайту</h1>
  <!-- Заголовок та опис вашого інтернет-магазину -->

  <div class="featured-products">
    <h2>Вибрані товари</h2>
    <div class="products-wrapper">
      <% products.forEach(product=> { %>
        <div class="product">
          <img src="<%= product.image %>" alt="<%= product.name %>">
          <h3>
            <%= product.name %>
          </h3>
          <p class="price">$<%= product.price.toFixed(2) %>
          </p>
          <a href="#" class="btn" onclick="addToCart('<%= product._id %>')">Додати до кошика</a>
        </div>
        <% }) %>
    </div>
  </div>

  <!-- Додайте інші блоки та елементи для головної сторінки -->

</body>

</html>